<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Price</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <li class="nav-item">
        <a th:href="@{/}">back to main page</a>
    </li>

    <div class="form-group">
        <p class="font-weight-normal">Find by id(code)</p>
        <form th:action="@{/product/find}" method="post">
            <input type="number" name="id" placeholder="Enter id"/>
            <input type="submit" value="Search"/>
        </form>
    </div>

    <div class="form-group">
        <p class="font-weight-normal">Find by name</p>
        <form th:action="@{/product/find}" method="post">
            <input type="text" name="name" placeholder="Enter product name"/>
            <input type="submit" value="Search"/>
        </form>
    </div>

    <div class="form-group">
        <p class="font-weight-normal">Find by price</p>
        <form th:action="@{/product/find}" method="post">
            <input type="number" step="0.01" name="price" placeholder="Enter price value"/>
            <select name="currency">
                <option th:each="currency : ${T(com.training.models.enums.Currency).values()}"
                        th:value="${currency}" th:text="${currency}">

                </option>
            </select>
            <input type="submit" value="Search"/>
        </form>
    </div>

    <div class="form-group">
        <p class="font-weight-normal">Find by category id(code)</p>
        <form th:action="@{/product/find}" method="post">
            <input type="number" name="categoryId" placeholder="Enter categoty id"/>
            <input type="submit" value="Search"/>
        </form>
    </div>

    <div class="form-group">
        <p class="font-weight-normal">Result:</p>
        <div th:switch="${not #lists.isEmpty(products)}">
        <span th:case="${true}">
            <table class="table table-dark">
                 <thead>
                 <tr>
                     <th scope="col"> id </th>
                     <th scope="col"> name </th>
                     <th scope="col"> prices </th>
                     <th scope="col"> categories </th>
                 </tr>
                 </thead>
                 <tbody>
            <tr th:each="product : ${products}">
                     <td scope="row" th:text="${product.id}"/>
                    <td th:text="${product.name}"/>
                    <td th:text="${product.prices}"/>
                    <td th:text="${product.categories}"/>
            </tr>
             </tbody>
             </table>
        </span>
            <span th:case="${false}">
            <p class="font-weight-normal">Empty list</p>
        </span>
        </div>
    </div>

</div>
</body>
</html>
